@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background select-none;
}

@layer base {
  :root {
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: unset;
}

button:focus,
select:focus,
input:focus {
  outline: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 #292e4e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
